@use '../abstracts/' as *;

body {
	color: clr(neutral, 900);
	font-weight: $fw-400;
	font-size: fs(400);
	line-height: 1.5;
	font-family: $ff-base;
	font: 16px/1.2 Trebuchet MS, sans-serif !important;
	font-variation-settings: 'wght' 250, 'wdth' 75;
}
