$datamatrixSize: 32mm;

footer,
.footer {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	// background-color: darkseagreen;
	padding: 5px;

	&__center {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 8px;
		padding-top: 5px;
		width: 100%;

		&__strokes {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;

			&__second {
				display: flex;
				flex-direction: column;
				gap: 2px;
			}
		}
	}

	&__datamatrix {
		&--left,
		&--right {
			display: flex;
			justify-content: center;
			align-items: center;
			width: $datamatrixSize;
			height: $datamatrixSize;

			& > div {
				width: $datamatrixSize;
				text-align: center;

				& > img {
					max-width: $datamatrixSize;
					max-height: $datamatrixSize;
				}
			}
		}

		&--right {
		}
	}

	// .qr {
	// 	display: flex;
	// 	flex-shrink: 1;
	// 	flex: 0 1 auto;
	// 	justify-content: center;
	// 	align-items: center;
	// 	margin: 0 16px;
	// 	width: 120px;
	// 	height: 120px;
	// 	height: 120px;

	// 	canvas {
	// 		align-self: center;
	// 		margin-right: auto;
	// 		margin-left: auto;
	// 		max-width: 100%;
	// 		max-height: 100%;
	// 	}
	// }

	// .last-page-sign-row {
	// 	display: flex;
	// 	flex: 1 1 auto;
	// }

	// .data {
	// 	flex: 1 1 auto;
	// 	margin-top: 36px;
	// }
}
