header {
	display: flex;
	width: -webkit-fill-available;
	justify-content: space-between;

	& > .left {
		display: flex;
		flex-direction: column;
		width: 33%;
		gap: 15px;

		& > .barcode {
			display: flex;
			flex-direction: column;
			width: fit-content;
			gap: 2px;

			& > .numbers {
				// display: flex;
				font-size: 15px;
				text-align: center;
			}
		}

		& > .underbarcode {
			display: flex;
			gap: 105px;

			& > .info {
				width: auto;

				& > p {
					width: max-content;
					margin: 5px 0px 5px 0px;
				}
			}
		}
	}

	& > .date-stamp {
		display: flex;
		flex-direction: row;
		width: 34%;
		justify-content: right;

		& > div {
			display: flex;
			flex-direction: column;

			& > .rectangle {
				display: flex;
				background-color: grey;
				width: 50px;
				height: 50px;
			}

			& > .description {
			}
		}
	}
}
