node_modules

web/yarn.lock
web/.yarn/cache

web/public

web copy
.yarn/cache
package-lock.json
.pnp.cjs
.pnp.loader.mjs
web/workspaces/nest1/src/@generated/prisma-nestjs-graphql
web/workspaces/react/dev-dist
pdf-generate/yarn.lock
forms-api/yarn.lock
forms/yarn.lock
forms/workspaces/api/.env
docker/forms-api-service/volumes/home/jj/.node_repl_history
docker/forms-api-service/volumes/home/jj/.cache/omf
forms/docker/forms-api-service/volumes/home/jj/.node_repl_history
forms/docker/forms-api-service/volumes/home/jj/.cache/omf/https___github.com_oh-my-fish_packages-main_master
forms/docker/volumes/home/jj/.cache/omf/https___github.com_oh-my-fish_packages-main_master
forms/docker/volumes/home/jj/.node_repl_history
asrk-client/yarn.lock
forms/docker/volumes/**/**
forms/app/workspaces/react/src/@generated/forms.enum.ts
forms/app/workspaces/react/src/@generated/templates
forms/app/workspaces/react/src/@generated/interfaces
cli-app/app/.yarn/cache
cli-app/app/.yarn/install-state.gz
cli-app/app/yarn.lock
cli-app/app1/.yarn/cache
cli-app/app1/.yarn/install-state.gz
forms/app/workspaces/react/src/@generated/JsxFormsMap.tsx
