footer {
	display: flex;

	& > .qrcode {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 120px;
		height: 120px;

		& > canvas {
			width: 42px !important;
			height: 42px !important;
		}
	}
}
