@import './rainbow.scss';

$table-padding-top: 45px;
$header-strokes-gap: 4px;
$header-elements-gap: 10px;

$notch-width: 0.1px;

@tailwind utilities;

.ourproductsleft {
	opacity: 0 !important;
	// transition: opacity 1s ease-in-out !important;
}

.ourproductsleft-show {
	opacity: 1 !important;
	transition: opacity 0.7s ease-in-out !important;
}

.ant-collapse {
	&-header {
		padding: 0px !important;

		& > div {
			padding-right: 0px !important;
			padding-left: 4px;
			color: #838383;
		}

		& > span {
			display: flex;
			align-items: center;
			border-width: 1px;
			// border-style: solid;
			/* padding-inline: 15px; */
			// border-color: #ffffff;
			// border-radius: 5px;
			// background-color: #efefef;
			padding: 2px 5px 2px 5px;
			width: -moz-fit-content;
			width: fit-content;
			height: 20px;
			color: #838383;
			font-size: 17px;
			font-family: monospace;
		}

		&-text {
			justify-content: center;
		}
	}

	&-content {
		&-box {
			& > p {
				margin: 0px;
				color: #2f72ab;
				font-size: 17px;
				font-family: monospace;
			}
		}
	}
}

.postoffice-popup-text {
	font-family: monospace;

	& > p {
		margin: 0px;
	}
}

.underline-long {
	border-bottom: 1px solid;
	padding-bottom: 0px;
	min-height: 16px;
	line-height: 18px;
}

.root-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// background-color: #747bff;
	width: 792px;
	// height: 1120px;
	height: -webkit-fill-available;
}

.barcodes-layout {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 792px;
	height: 1122px;

	& > .wrapper {
		display: grid;

		/* Будет создано 3 ряда */
		grid-template-rows: repeat(15, min-content);
		/* Будет создано 3 колонки */
		grid-template-columns: repeat(4, auto);

		column-gap: 35px;
		row-gap: 31.8px;

		justify-items: center;
		width: auto;
		height: min-content;
	}

	& > .notches {
		display: grid;
		position: absolute;
		// top: 42px;

		/* Будет создано 3 ряда */
		grid-template-rows: repeat(15, min-content);
		/* Будет создано 3 колонки */
		grid-template-columns: repeat(4, auto);

		column-gap: 0px;
		row-gap: 0px;
		align-items: stretch;

		justify-items: center;
		// width: 792px !important;
		width: auto;
		// height: 1122px !important;
		height: min-content;

		& > div {
			display: grid;
			width: 186.42px;
			// height: 39.35px;
			// height: 69.03px;
			height: 71.1px;

			& > .horizontal-notch {
				&-left {
					position: absolute;
					margin-top: 10mm;
					// margin-right: 10mm;
					border-width: $notch-width;
					border-top-style: solid;
					width: 8px;
					// border-style: solid;
					height: 0px;
				}

				&-right {
					// position: absolute;
					justify-self: right;
					margin-top: 10mm;
					// margin-right: 10mm;
					border-width: $notch-width;
					border-top-style: solid;
					width: 8px;
					// border-style: solid;
					height: 0px;
				}
			}

			& > .vertical-notch {
				&-left-top {
					position: absolute;
					margin-left: 10mm;
					border-width: $notch-width;
					border-left-style: solid;
					width: 104px;
					height: 5px;
				}

				&-left-bottom {
					align-self: end;
					justify-self: left;
					// position: absolute;
					margin-left: 10mm;
					border-width: $notch-width;
					border-left-style: solid;
					width: 104px;
					height: 5px;
				}

				// &-right-top {
				// 	position: absolute;
				// 	margin-left: 10mm;
				// 	border-width: $notch-width;
				// 	border-left-style: solid;
				// 	width: 104px;
				// 	height: 5px;
				// }
			}
		}
	}
}

.postoffice {
	display: flex;
	justify-content: center;
	width: 300px;

	& > div {
		display: flex;
		align-items: center;
		border-width: 1px;
		border-style: solid;
		/* padding-inline: 15px; */
		border-color: #ffffff;
		border-radius: 5px;
		background-color: #efefef;
		padding: 2px 5px 2px 5px;
		width: fit-content;
		height: 20px;
		color: #838383;
		font-size: 17px;
		font-family: monospace;
	}
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form {
	// width: 650px;

	& > div {
		& > div {
			& > .ant-form-item-control {
				// width: 50px;
			}
		}
	}
}

.layout {
	display: flex;
	position: relative;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
	width: 780px;
	height: 1287px;
}

.header {
	display: flex;
	justify-content: space-between;
	gap: $header-elements-gap;

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 4px;
		// background-color: antiquewhite;
		width: 100%;

		&__top {
			display: flex;
			gap: $header-elements-gap;

			&__item-group {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;

				&-top {
					display: flex;
					height: 20%;
				}

				&-bottom {
					display: flex;
					// justify-content: ;
					gap: $header-elements-gap;
					width: 100%;
					height: 80%;

					&__logo {
						align-self: center;
					}

					&__index {
						display: flex;
						flex-direction: column;
						align-items: center;
						align-self: flex-end;
						width: 100%;

						&__text {
						}

						&__number {
						}
					}
				}
			}
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		justify-content: baseline;

		&__text {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: $table-padding-top;
		}
	}

	&__strokes {
		display: flex;
		flex-direction: column;
		gap: $header-strokes-gap;
		background-color: aquamarine;

		&--first {
			& > div {
				display: flex;
				flex-direction: row;
				width: 100%;

				:nth-child(1) {
					word-wrap: break-word; /* IE */
					white-space: -moz-pre-wrap; /* Firefox */
					white-space: -o-pre-wrap; /* Opera */
					white-space: nowrap; /* Chrome */
				}

				:nth-child(2) {
					gap: $header-strokes-gap;
					width: 100%;
				}

				& > div {
					display: flex;
					flex-direction: column;
				}
			}
		}

		&--middlePages,
		&--last {
			& > div {
				display: flex;

				:nth-child(2) {
					:nth-child(2) {
						display: none !important;
					}
				}
			}
		}

		&__more {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&__left {
				&--first {
					display: flex;
					flex-direction: column;
					gap: $header-strokes-gap;
					width: 77%;

					& > div {
						display: flex;
						flex-direction: row;
					}
				}

				&--middlePages,
				&--last {
					display: flex;
					flex-direction: row !important;
					gap: $header-strokes-gap;
					width: 100%;

					:nth-child(2) {
						display: flex;
						flex-direction: row;

						:nth-child(2) {
							width: 100%;
						}
					}
				}

				& > div {
					display: flex;
					width: 100%;
				}
			}

			&--right {
				display: flex;
				align-items: center;
				width: 33% !important;
			}
		}
	}
}

.datebox {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	padding-top: $table-padding-top;

	&__square {
		border: 1px solid;
		padding: 3px;
		width: 100px;
		height: 100px;
		font-size: 14px;
		line-height: 14px;
		font-family: Arial, Helvetica, sans-serif;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		text-align: center;

		.index {
			font-weight: 800;
			font-size: 17px;
			line-height: 26px;
		}
	}

	&__label {
		margin-top: 1px;
		font-size: 9px;
		line-height: 8px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
	}
}

.barcode {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5.7px;
	width: fit-content;
	font-size: 2.7mm;
	font-family: sans-serif;

	& > img {
		width: 40mm;
		height: 6mm;
	}
}

.lastpage-stamp {
	display: flex;
	flex-direction: column;

	.box-stamp {
		border: 1px solid;
		width: 90px;
		height: 90px;
	}

	.box-stamp-label {
		font-size: 9px;
		line-height: 8px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
	}
}

.font-mono {
	font-family: Arial, Helvetica, sans-serif;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	background-color: white;
	color: rgba(0, 0, 0, 0.87);
	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
}

@media (prefers-color-scheme: light) {
	:root {
		background-color: #ffffff;
		color: black;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}

// .nakl_info {
// 	display: flex;
// 	// flex-grow: 1;
// }
.flex-roww {
	/* display: flex; */
	flex-direction: row;
}

.total-table {
	border: none;
	font-size: 10px;
	line-height: 10px;

	td {
		border: 1px solid black;
		border-collapse: collapse;
		padding: 3px 6px;
	}

	tr {
		width: 100%;

		td:nth-child(1) {
			width: 156px;
			hyphens: auto;
			text-align: left;
		}

		td:nth-child(2) {
			width: 48px;
			hyphens: manual;
			text-align: right;
		}
	}

	tr:nth-child(1) {
		text-align: center;

		td:nth-child(1) {
			text-align: center;
		}

		td:nth-child(2) {
			text-align: center;
		}
	}
}

.fb {
	font-weight: 800;
}

.fs-11 {
	font-size: 11px;
	line-height: 11px;
}
