$timesNewRomanModifications: "Bold", "BoldItalic",
	// "Italic",
	"Regular";

$robotoModifications: "Light", "Medium", "Bold";

@each $modification in $timesNewRomanModifications {
	@font-face {
		font-family: "TimesNewRoman#{$modification}";
		font-style: normal;
		font-weight: 400;
		src: local("TimesNewRoman#{$modification}"),
			url("@fonts/TimesNewRoman/TimesNewRoman#{$modification}/TimesNewRoman#{$modification}.ttf")
				format("truetype");
	}
}

// @each $modification in $robotoModifications {
// 	@font-face {
// 		font-family: "Roboto-#{$modification}";
// 		font-style: normal;
// 		src: local("Roboto-#{$modification}"),
// 			url("@fonts/Roboto-#{$modification}.ttf") format("truetype");
// 	}
// }

.tnr-bold {
	font-family: "TimesNewRomanBold";
}

.line-height-small {
	line-height: 4px;
}
