$colors: (
	neutral: (
		900: hsl(0deg 0% 22.75%),
		500: hsl(234, 21%, 72%),
		400: hsl(191 3% 84% / 11),
		200: hsl(0, 0%, 100%),
		100: #ffffff,
	),
	primary: (
		100: hsl(212, 85%, 68%),
		200: hsl(212, 74%, 51%),
		300: #a438e2,
	),
	support: (
		100: hsl(110, 85%, 68%),
		200: hsl(140, 85%, 68%),
		300: hsl(177, 85%, 68%),
	),
);
